        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        table.isi {
            text-align: center;
            padding: 5px;
        }

        table.isi tr td {
            border: 1px solid lightseagreen;
            padding: 5px;
        }
        img {
            width: 200px; 
            height: 275px;
            border-radius: 5px;
        }

        select {
            border-radius: 5px;
        }